.button {
    -fx-background-color: #38B6FF;
    -fx-graphic: url("home.png");
}

.button:hover {
    -fx-background-color: #5294FF;
    -fx-graphic: url("homeAnimated.gif");

}

.button:pressed{
    -fx-background-color: #5294FF;
    -fx-opacity: 0.8;

}
