.button {
    -fx-background-color: #989aad;
    -fx-graphic: url("home.png");
}

.button:hover {
    -fx-background-color: #bec4dc;
    -fx-graphic: url("homeAnimated.gif");

}

.button:pressed{
    -fx-background-color: #bec4dc;
    -fx-opacity: 0.8;

}
